<p style="color: green"><%= notice %></p>

<h1>Cities</h1>

<div id="cities">

  <% @cities.each do |city| %>

 <div>
 
    <%= render city %>
    <p>
      <%= link_to "Show this city", city %>
    </p>
  <% end %>

</div>
</div>
</div>






